$primary: #202020;
$secondary: #FCA311;
$third: #480CA8;//terceira
$font: 'Baloo Paaji 2';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body {
    height: 900vh;//equivale 100%
    background-color: $primary;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: $primary;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 $secondary;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;//esconde as palavras
    transition: .5s;
    &.expandir{
        width: 300px;
        .txt-link {
            margin-left: 40px;
            opacity: 1;
        }
    }
    ul {
        height: 100%;
        list-style-type: none;
        li.ativo {
            background-color: $secondary;
        }
        li.item-menu {
            transition: .2s;
            &:hover {
                background: $secondary;
            }
            a {
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                padding: 20px 4%;
                display: flex;
                margin-bottom: 20px;
                line-height: 40px;
                .icon {
                    i {
                        font-size: 30px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

ul {
    li {
      &.item-menu {
        a {
            .txt-link {
                margin-left: 70px;
                transition: .5s;
                opacity: 0;
            }
        }
      }  
    }
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
    i {
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
}

.container {
    margin-left: 150px;
    h1 {
        text-align: center;
        color: $secondary;
        font-size: 40px;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.356);
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .flex-col {
            text-align: center;
            margin: 10px;
            border: 2px solid black;
            border-radius: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            color: $secondary;
            transition: .2s;
            cursor: pointer;
            img {
                border-radius: 10px;
            }
            a {
                color: $secondary;
                text-decoration: none;
            }
            &:hover {
                box-shadow: 0 0 10px $third; 
                transform: scale(1.1);
            }
        }
    }
}

.breve {
    color: $third;
    text-transform: uppercase;
    text-shadow: 0 1px 10px rgba(255, 255, 255, 0.151);
    text-align: center;
}

.footer {
    background: $third;
    height: 140px;
    .footer-p {
        margin-left: 530px;
        padding-top: 22px;
        font-size: 30px;
    }
    .footer-flex {
        margin-left: 675px;
        display: flex;
        .footer-item {
            margin-left: 20px;
            font-size: 25px;
            transition: 0.2s;
            a {
                color: white;
                text-decoration: none;
            }
            &:hover {
                transform: scale(1.1);
                text-shadow: 0 0 10px $primary;
            }
        }
    }
}

.main {
    .main-h1 {
        font-size: 70px;
        text-align: center;
        color: $secondary;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.226);
    }
    .main-img {
        margin-left: 545px;
        border-radius: 10px;
        border: 2px solid $third;
        box-shadow: 0 0 10px #480ca898;
    }
    .main-h2 {
        text-align: center;
        font-size: 50px;
        color: $secondary;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.171);
    }
    p {
        padding-left: 100px;
        text-indent: 40px;
        font-size: 25px;
        padding-bottom: 50px;
        color: white;
    }
}

.titulo-intro {
    padding-left: 510px;
    color: $secondary;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.281);
}

.introducao {
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-top: 30px;
    text-indent: 40px;
    color: white;
}

.btn-oficial {
    font-family: $font;
    cursor: pointer;
    margin-left: 600px;
    padding: 5px;
    font-size: 40px;
    margin-bottom: 50px;
    border: 2px solid #480CA8;
    background-color: $secondary;
    color: $primary;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
        background-color: #a3690b;
        transform: scale(1.1);
    }
    a {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}

.btn-baixar {
    font-family: $font;
    cursor: pointer;
    margin-left: 600px;
    padding: 5px;
    font-size: 40px;
    margin-bottom: 50px;
    border: 2px solid #480CA8;
    background-color: $secondary;
    color: $primary;
    border-radius: 10px;
    transition: 0.5s;
    &:hover {
        background-color: #a3690b;
        transform: scale(1.1);
    }
    a {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}

.titulo-equipe {
    padding-left: 660px;
    color: $secondary;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.281);
}

.p-equipe {
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 400px;
    padding-top: 30px;
    color: white;
}