* {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.container {
  width: 1000px;
  margin: 50px auto;
}

body {
  font: 18px "Baloo Paaji 2";
  color: #d4c600;
  background-color: #250055;
}

.header {
  background-color: #1a1a1a;
  width: 100%;
  top: 0;
  box-shadow: 0 0 10px #252525;
  padding: 10px;
  box-sizing: border-box;
}
.header .header-logo img {
  width: 120px;
}
.header .header-menu {
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  text-decoration: none;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.header .header-nav {
  display: none;
}
.header .header-nav ul {
  list-style: none;
}
.header .header-nav ul li {
  margin: 15px;
  font-size: 20px;
}
.header .header-nav ul li a {
  text-decoration: none;
  color: white;
}

.show {
  display: block !important;
}

.corpo {
  padding-bottom: 1px;
  padding-top: 10px;
  background-color: #250055;
}
.corpo .btn-voltar a {
  text-decoration: none;
}
.corpo .btn-voltar a .a-voltar {
  font-size: 30px;
  background-color: #d4c600;
  margin-left: 625px;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
  color: #1a1a1a;
}
.corpo .btn-voltar a .a-voltar:hover {
  background-color: #5e5700;
  color: white;
}
.corpo .flex {
  display: flex;
  flex-wrap: wrap;
}
.corpo .flex .flex-col {
  margin-left: 80px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
}
.corpo .flex .flex-col .btn {
  font-size: 20px;
  margin-left: 95px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #d4c600;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}
.corpo .flex .flex-col img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.corpo .flex .flex-col p {
  text-align: center;
  padding-bottom: 10px;
}
.corpo .destaque {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #d4c600;
  font-family: "Baloo Paaji 2";
}
.corpo .sobre {
  text-align: center;
  color: #d4c600;
  font-family: "Baloo Paaji 2";
}
.corpo .sobre-p {
  font-size: 20px;
  color: lightgray;
  text-indent: 20px;
  font-family: "Baloo Paaji 2";
  margin-left: 0;
  margin-right: 0;
}
.corpo .titulo {
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.226);
  color: #d4c600;
  font-family: "Baloo Paaji 2";
}

.corpo-equipe .sobre-equipe {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
}
.corpo-equipe .flex-equipe {
  display: flex;
  flex-wrap: wrap;
}
.corpo-equipe .flex-equipe .flex-col-equipe {
  margin-left: 80px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
}
.corpo-equipe .flex-equipe .flex-col-equipe .btn {
  font-size: 20px;
  margin-left: 95px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #d4c600;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}
.corpo-equipe .flex-equipe .flex-col-equipe .btn:hover {
  background-color: #5e5700;
  color: white;
}
.corpo-equipe .flex-equipe .flex-col-equipe img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.corpo-equipe .flex-equipe .flex-col-equipe p {
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
}

#carouselExample .carousel-inner .carousel-item img {
  width: 350px;
  margin: auto;
}

.footer {
  background-color: #1a1a1a;
  color: #d4c600;
  text-align: center;
}
.footer .footer-p {
  font-size: 20px;
}
.footer .footer-flex {
  display: flex;
  margin-left: 152px;
}
.footer .footer-flex .contato {
  padding-right: 15px;
  font-size: 20px;
}
.footer .footer-flex .contato a {
  color: #d4c600;
  text-decoration: none;
}

@media (min-width: 450px) {
  .header .header-logo img {
    margin: 10px;
  }
  .header .header-menu {
    display: none;
  }
  .header .header-nav {
    display: block;
    float: right;
    margin-top: 15px;
  }
  .header .header-nav ul li {
    display: inline-block;
    font-size: 30px;
    margin-right: 40px;
    transition: 0.2s;
    padding: 10px;
    border-radius: 10px;
  }
  .header .header-nav ul li:hover {
    background-color: #7a00aa;
  }

  .corpo .flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 303px;
  }
  .corpo .flex .flex-col {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .corpo .flex .flex-col .btn {
    font-size: 20px;
    margin-left: 95px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #d4c600;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
  }
  .corpo .flex .flex-col .btn:hover {
    background-color: #5e5700;
    color: white;
  }
  .corpo .flex .flex-col img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .corpo .flex .flex-col p {
    text-align: center;
    padding-bottom: 10px;
    color: #d4c600;
    font-family: "Baloo Paaji 2";
    margin-top: 15px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
  }
  .corpo .destaque {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 0 10px #1a1a1a;
    text-decoration: underline;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
  }
  .corpo .sobre {
    text-align: center;
    text-shadow: 0 0 10px #1a1a1a;
    text-decoration: underline;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.178);
  }
  .corpo .sobre-p {
    font-size: 20px;
    text-indent: 20px;
    margin-left: 0;
    margin-right: 0;
    text-shadow: 0 0 10px #1a1a1a;
  }
  .corpo .titulo {
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
  }

  .corpo-equipe .sobre-equipe {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
  }
  .corpo-equipe .flex-equipe {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
  }
  .corpo-equipe .flex-equipe .flex-col-equipe {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #1a1a1a;
  }
  .corpo-equipe .flex-equipe .flex-col-equipe img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .corpo-equipe .flex-equipe .flex-col-equipe p {
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.219);
  }

  #carouselExample .carousel-inner .carousel-item img {
    width: 500px;
    margin: auto;
  }

  .footer {
    background-color: #1a1a1a;
    bottom: 0;
    padding: 20px;
  }
  .footer .footer-p {
    text-align: center;
    color: #d4c600;
  }
  .footer .footer-flex {
    display: flex;
    margin-left: 614px;
  }
  .footer .footer-flex .contato {
    margin-right: 10px;
  }
  .footer .footer-flex .contato a {
    color: #d4c600;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
